---
import Layout from '../layouts/Layout.astro';
import SnowCanvas from '../components/SnowCanvas.astro';
import ProfileHeader from '../components/ProfileHeader.astro';
import AboutSection from '../components/AboutSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import SocialsSection from '../components/SocialsSection.astro';
import SpotifyWidget from '../components/SpotifyWidget.astro';
---

<Layout title="anti - portfolio">
	<SnowCanvas />
	<div class="relative z-10 border-2 border-gray-700/50 w-[70vw] h-[60vh]">
		<ProfileHeader />
		<AboutSection />
		<ProjectsSection />
		<SocialsSection />
		<SpotifyWidget />
	</div>
</Layout>
