<div class="absolute top-48 right-8 text-white max-w-xs" style="font-family: Consolas, monospace; font-size: 16px; line-height: 24px;">
	<p class="text-gray-400 mb-2">notable projects:</p>
	<p>• Silk</p>
	<p>• Custom Snipping Tool</p>
	<p>• Controller emulator</p>
	<p class="text-gray-400 mt-4 mb-2">specialities:</p>
	<p>• Reverse engineering</p>
	<p>• Rendering</p>
	<p>• Backend development</p>
</div>
