<div class="absolute bottom-8 left-8 text-white" style="font-family: Consolas, monospace; font-size: 16px; line-height: 24px;">
	<p class="mb-2 text-gray-400">socials:</p>
	<p>email: tomlovesbdg@gmail.com</p>
	<p>discord: antidotxe</p>
	<p>github: <a href="https://github.com/antidotxe" target="_blank" class="text-blue-400 hover:text-blue-300 underline">https://github.com/antidotxe</a></p>
</div>
